SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver,host.docker.internal,host.lima.internal,192.168.5.2
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SECURE_HSTS_SECONDS=0
# DATABASE_URL=postgresql://user:password@host:5432/database
ONLYOFFICE_JWT_SECRET=dev-onlyoffice-secret
